* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #271d31;
  color: #e6fdfd;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 20px 50px;
  border: 2px solid blueviolet;
  border-radius: 5px;
}
.items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #77717cb5;
}
.items p {
  margin-right: 130px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.items button {
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  color: #8800ffe5;
}
.items button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px 5px #8800ff71;
}
div .cart {
  margin-top: 10px;
}
.checkout-btn {
  display: none;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #8800ffe5;
}
.checkout-btn:hover {
  box-shadow: 2px 2px 10px 5px #8800ff71;
}
.cart-items {
  margin-top: 10px;
  min-height: 50px;
  margin-bottom: 10px;
}
