* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(17, 17, 108);
  color: rgb(145, 201, 251);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border: 2px solid whitesmoke;
  padding: 30px;
  border-radius: 8px;
}
.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.input-form input {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}
.input-form input:focus {
  outline: none;
}
.input-form button {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 255);
  color: white;
}
p {
  font-size: 16px;
  color: rgba(255, 0, 0, 0.562);
}
.hidden{
    margin-top: 20px;
    text-align: center;
}
.hidden p{
    margin-top: 10px;
}