* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fc8830;
  color: #03258b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 20px;
  border: 2px solid purple;
  border-radius: 8px;
}
.input-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 10px;
}
.input-container input {
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 3px;
  border: none;
}
.input-container input:focus {
  outline: none;
}
.input-container button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  background-color: #d67328;
  color: rgb(255, 255, 255);
  font-size: large;
}
.input-container button:hover {
  background-color: purple;
}
.list-container .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d67328;
  margin-top: 10px;
  margin: 10px 20px 0px 20px;
  padding: 10px;
  border-radius: 8px;
}
.items button {
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
}
.items button:hover {
  background-color: purple;
  color: aliceblue;
}
p {
  font-size: 18px;
  font-weight: bold;
}
