@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #2b59fb, #fb892b);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container div {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
}

h1 {
  color: #333;
  /* margin: 0 0 20px 0; */
  margin-bottom: 20px;
}
p {
  color: #555;
  font-size: 18px;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
input[type="email"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="email"]:focus {
  outline: none;
  border-color: #2b59fb;
  box-shadow: 0 0 5px rgba(43, 89, 251, 0.5);
}
button {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: #2b59fb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1a3dbf;
}

svg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
